@import url(../fonts/clear-sans.css);
html, body {
  margin: 0;
  padding: 0;
  background: #A7E4E4;
  color: #313D47;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1040px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;

  padding: 10px;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.container .jumbotron .banner {
  margin: -48px -60px 25px -60px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.event-bubble {
  background-color: #eee;
  border-radius: 6px;
  margin-bottom: 10px;
  overflow: hidden;
  height: 120px;
  padding-left: 0;

  color: #333333;
}

.event-bubble h4 {
  font-size: 22px;
}

.event-bubble p {
  font-size: 16px;
}

.event-bubble .image {
  overflow: hidden;
  height: 120px;
  padding: 0;
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
  line-height: 1;
}

/* .event-container.ng-enter {
  -webkit-animation: 0.5s expand-in;
  -moz-animation: 0.5s expand-in;
  -o-animation: 0.5s expand-in;
  animation: 0.5s expand-in;
  z-index: 100;
}

.event-container.ng-leave {
  -webkit-animation: 0.5s shrink-out;
  -moz-animation: 0.5s shrink-out;
  -o-animation: 0.5s shrink-out;
  animation: 0.5s shrink-out;
  z-index:99;
}

@keyframes expand-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes expand-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes expand-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shrink-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes shrink-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes shrink-out {
  from { opacity: 1; }
  to { opacity: 0; }
} */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}